@model PROD.Models.CustModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customerid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customerid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

      
        <dt>
            @Html.DisplayNameFor(model => model.LoyaltyPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoyaltyPoints)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Customerid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
