@model IEnumerable<PROD.Models.CARRENT>

@{
    ViewBag.Title = "Presenttrentals";
}

<h2>Presenttrentals</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicenseNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentOrderDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentOrderDate)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ReturnDate)
        </td>
        @if (item.RentOrderDate == DateTime.Today)
        {
            if (item.OdoReading is null)
            {
                <td>

                    @Html.ActionLink("Rentnow", "Rentnow", new { id = item.RentId }) |
                    @Html.ActionLink("Cancel", "Cancel", new { id = item.RentId })
                </td>
            }
            else
            {
    <td>
        @Html.ActionLink("Return", "Return", new { id = item.RentId })
    </td>
            }
        }
        else if (item.RentOrderDate >= DateTime.Today)
        {
            <td>
                @Html.ActionLink("Cancel", "Cancel", new { id = item.RentId })
            </td>
        }
        else
        {

            <td>
                @Html.ActionLink("Return", "Return", new { id = item.RentId })
            </td>
        }
    </tr>
}

</table>
